body,td,th {
	color: #7B90D2;

}
body {
	background-color: #0B346E;
	font-size: 20px;
	margin:0px;
	padding:0 px;
}
#new {
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	width:939px;
}
a{
	color:#7F7F80;
}
a:hover {
	background-color:#111180;
}